@media(min-width:31.25em){
    .container{
        width: 50rem;
        margin: 10rem auto;
    }
}

@media(min-width:44em){

    .container{
        width: 70rem;
        margin: 15rem auto;
    }

    .product-details-section{
        grid-template-columns: repeat(2, 1fr);
    }

    .desktop-img{
        display: block;
        width: 100%;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    .mobile-img{
        display: none;
    }

    .product-info{
        padding: 3rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .primary-heading{
        margin: 1rem 0;
        font-size: 3.8rem;
    }

    .product-description{
        margin: 1rem 0;
    }

    .pricing-section{
        margin: 0 0 2rem 0;
    }

    .add-to-cart{
        margin: 2rem 0 2rem 0;
    }
}